body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
header {
}
nav {
  max-width: 660px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}
.logo-box {
  float: left;
  margin-left: 25px;
}
.logo {
  margin: 0;
  height: 70px;
  text-align: center;
}
ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 70px;
  line-height: 70px;
  text-align:center;
}
a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
li a {
  color: #868686;
  text-transform: uppercase;
}
li {
  display: inline-block;
  margin-left: 25px;
  transition: .5s linear;
}
li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #868686;
  transition: all 0.5s linear;
}
li a:hover:after{
  width: 100%;
}
@media screen and (max-width:574px) {
  .logo-box {
    float: none;
    margin: 0 auto;
  }
  ul {
    float: none;
    margin: 0 25px;
    }
 li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
nav {
  overflow: visible
}
ul {
  height: auto;
  margin: 25px 25px 0 25px;
  line-height: 50px;
}
li {
  display: block;
  margin: 0;
}
li:hover {
  background: rgba(0,0,0,.1)
}
li a:after {
  content: none;
}
}

footer {
  background-color: #3c3d41;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}
#footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1C1D21
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}
.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}
.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #6195FF;
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
  color:#868F9B;
}
